<template>
    <div class="employer-home">
        <div class="wrapper">
            <section-header
            imgname="employer-illustration">
                <template slot="title">
                    <mark>Видео</mark> резюме <br>
                    найдется для каждого
                </template>
                <template slot="subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </template>
                <template slot="handlers">

                </template>
            </section-header>
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>