<template>
    <div v-if="false" class="resumes">
        <div class="wrapper">
        </div>
    </div>
    <Stub v-else />
</template>

<script>
import Stub from '@/components/applicant/resumes/Stub'
export default {
    components: {
        Stub
    }
}
</script>

<style lang="scss" scoped>

</style>