<template functional>
    <div class="stub"></div>
</template>

<style lang="sass" scoped>
    .stub
        width: 100%
        height: 100%
        background: linear-gradient(0deg, #EEF0F3, #EEF0F3)
        border-radius: 6px
</style>