*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 28px;
}

button, input {
  outline: 0;
}

.el-rate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.el-rate__text {
  margin-top: 2px;
  font-weight: bold;
  font-size: 16px !important;
}

.custom-button input{
  border: 0;
  border-bottom: 1px solid #03014c23;
  background: transparent;
  border-radius: 0;
  font-weight: bold;
  font-size: 20px;
}

.custom-button input::placeholder {
  color: #03014c7c;
  font-weight: bold;
}

.select-link {
  display: flex;
  width: 100%;
  height: 100%;
  color: #F05F3F;
  text-decoration: none;
}